@using DevTreks.Helpers

@model ForgotPasswordViewModel
@{
    ViewData["Title"] = AppHelper.GetResource("FORGOT_PASSWORD");
}
<p><strong>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_role = "button", data_mini = "true", data_inline = "true" }) > @ViewData["Title"] </strong></p>
<h2>@ViewData["Title"].</h2>
<p>
    For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
    <h4>Enter your email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>

        <li class="ui-field-contain">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </li>

        <li class="ui-field-contain">
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>

