@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}
<p><strong>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_role = "button", data_mini = "true", data_inline = "true" }) > @ViewData["Title"] </strong></p>
<p>
    Setting this password will allow you to login using a DevTreks login.
    Passwords for external logins must be changed
    on the external site (Microsoft, Google).
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Change Password Form</li>

        <li class="ui-field-contain">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
        </li>
        <li class="ui-field-contain">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>
        <li class="ui-field-contain">
            <button type="submit">Set password</button>
        </li>
    </ul>
}

